<footer id="footer" class="footer" >
  <div class="flex footer1" >
    <div><img src="{{theme.path}}/assets/img/kbcrawl-logo.svg"></div>
    <div> <h3>Contact</h3>
            <p>Lorem ipsum</p>
            <p>Dolor amet</p>
            <p>Valem Setum</p>
            <p>Uller Sole</p>
      </div>
    <div><h3>Vos enjeux</h3>
            <p>Lorem ipsum</p>
            <p>Dolor amet</p>
            <p>Valem Setum</p>
            <p>Uller Sole</p>
      </div>
    <div><h3>Nos solutions</h3>
            <p>Lorem ipsum</p>
            <p>Dolor amet</p>
            <p>Valem Setum</p>
            <p>Uller Sole</p>
      </div>
    <div><h3>Newsletter</h3>
            <input type="text" placeholder="Votre email">
      </div>
  </div>
    
  <div class="flex footer2">
    <div class="flex">
        <p>Plan du site</p>
        <p> Mentions légales</p>
      </div>
    <div class="right">
        <img src="{{theme.path}}/assets/img/linkedin-font-awesome.svg">
        <img src="{{theme.path}}/assets/img/facebook-font-awesome.svg">
        <img src="{{theme.path}}/assets/img/twitter-font-awesome.svg">
      </div>
  </div>
</footer>
